@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #000000;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  /* border: 2px solid red; */
}

.scroll-up {
  display: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}

section {
  /* max-width: 1100px;
  margin: auto; */
}

/* CSS Resets end */

/* Navbar */
nav {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1001; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 15.5rem;
  width: 15.5rem;
  border-radius: 50%;
  margin-top: 15%;
}

.bio {
  margin-top: 13%;
  margin-left: 5%;
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}
/* Hero section ends */

/* More about */
.more-about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}
/* More about ends */

/* Skills section */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 6.5rem;
}

.skill-header {
  margin-bottom: 2rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 9.875rem;
  height: 9.25rem;
}
/* Skills section ends */

/* Projects section */
.projects {
  background-color: var(--bg-color);
  padding: 100px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-top: 50px;
}

.projects-title {
  text-align: center;
  margin-bottom: 2rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-container img {
  width: 100%;
}

.project-container .project-pic {
  width: 100%;
  height: 100px;
}

.other-project-title {
  margin-top: 1rem; 
}

/* Projects section ends */

/* Contacts section */
.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(192, 188, 188);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
/* Contacts section ends */

/* Social buttons */
.socials {
  padding-left: 550px;
  font-size: 60px;
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */

/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */

/* General (utilities) */
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  max-width: 350px; 
  height: 350px; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  overflow: hidden; 
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  justify-content: center; 
  margin: 0 auto; 
  max-width: 1000px; 
}

.project-slider-wrapper {
  position: relative; 
  overflow: hidden; 
}

.project-slider {
  height: 200px; 
  display: flex; 
}

.project-slider-wrapper {
  position: relative; 
  overflow: hidden; 
}

.project-slider .slick-dots {
  display: none;
}

.project-slider .slick-prev,
.project-slider .slick-next {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 50%; 
  color: #fff; 
  z-index: 1000; 
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.project-slider .slick-prev {
  left: 10px; 
}

.project-slider .slick-next {
  right: 10px; 
}

  .project-slider .slick-prev:hover,
  .project-slider .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.7); 
  }

.project-slider .slick-prev:focus,
.project-slider .slick-next:focus {
  background-color: rgba(0, 0, 0, 0.5); 
}

.project-slider .slick-prev:before,
.project-slider .slick-next:before {
  font-family: 'Font Awesome 5 Free'; 
  font-weight: 900; 
  content: '\f053'; 
}

.project-slider .slick-next:before {
  content: '\f054'; 
}

.project-card img,
.project-card .project-pic {
  width: 100%; 
  height: 150px;
  display: block; 
}

.first-project .project-content h3 {
  position: relative;
  top: -40px; 
}

.first-project .project-content p {
  position: relative;
  top: -25px; 
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-top: 40%;
  }

  .bio {
    margin-top: 10%;
    margin-left: 5%;
  }

  .socials {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-left: 5px;
  }

  .socials a {
    margin: 0 15px;
  }
  
  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }

  .projects-container {
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 10px; 
    padding: 0; 
    margin: 0 auto; 
    max-width: 100%; 
    justify-items: center; 
  }

  .project-card {
    max-width: 100%; 
    height: auto; 
    box-sizing: border-box; 
  }
  
  .project-slider {
    height: 150px; 
  }

  .project-card img,
  .project-card .project-pic {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
  }

  .other-project-title {
    margin-top: 1rem; 
  }
  .first-project .project-content h3 {
    position: relative;
    top: -1px; 
  }
  .first-project .project-content p {
    position: relative;
    top: 2px;
  }
}

@media only screen and (max-width: 420px) {
  /* Navbar */
  nav {
    padding: 1rem 1rem;
  }

  .burger-menu {
    display: block;
  }

  nav ul {
    display: none; /* Oculta el menú en pantallas pequeñas */
  }

  nav.active ul {
    display: flex; /* Muestra el menú cuando se activa el botón burger */
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 60px; /* Ajusta según el tamaño del navbar */
    left: 0;
    right: 0;
    background-color: var(--bg-color);
    padding: 1rem;
  }

  /* Hero section */
  .hero {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .hero img {
    height: 12rem;
    width: 12rem;
  }

  .bio {
    margin-top: 2rem;
    margin-left: 0;
    text-align: center;
  }

  .bio h1 {
    font-size: 1.5rem;
  }

  /* Skills section */
  .skills {
    padding: 1rem;
  }

  /* Projects section */
  .projects-container {
    grid-template-columns: 1fr;
  }

  .project-card {
    max-width: 100%;
    height: auto;
  }

  .project-pic {
    height: auto;
  }

  .project-slider-wrapper {
    height: auto; 
  }

  .project-slider .slick-prev,
  .project-slider .slick-next {
    width: 25px;
    height: 25px;
  }

  .project-slider .slick-prev:before,
  .project-slider .slick-next:before {
    font-size: 16px;
  }

  /* Contacts section */
  .contact-form-container {
    padding: 0.5rem;
  }

  .contact-form-container .input-field {
    padding: 0.5rem;
    font-size: 0.75rem;
  }

  .submit-btn {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  /* Social buttons */
  .socials {
    font-size: 40px;
  }

  /* Scroll to top button */
  .scroll-up {
    right: 2%;
    bottom: 2%;
    width: 2.5rem;
    height: 2.5rem;
  }

  .up-arrow {
    width: 2.5rem;
    height: 2.5rem;
  }
}